.waqs-hero-content h1,
.waqs-hero-content p {
    font-family: Arial;
    font-style: normal;
    color: #000
}

.d-flex,
.desktop_marketplace,
.waqs-hero,
.wrapper {
    display: flex
}

.gap-24,
.wrapper {
    gap: 24px
}

.switch,
p {
    margin-bottom: 0 !important
}

.waqs-hero {
    background-image: url('../img/hero_background.webp');
    min-height: 700px;
    background-position: center;
    background-size: cover;
    background-origin: center;
    align-items: center
}

.waqs-hero-content {
    display: flex;
    align-items: center;
    justify-content: center
}

.wqs-logo {
    max-width: 160px;
    width: 100%
}

.hero_image img {
    max-width: 572px;
    width: 100%
}

.waqs-hero-content h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-transform: capitalize
}

.waqs-hero-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    opacity: .7
}

.feature-card p,
.waqs-feature .waqs_heading h1 {
    font-family: Arial;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    font-style: normal
}

.waqs-hero-content .waqs-hero-content-left {
    max-width: 550px;
    width: 100%
}

.waqs-hero-content .marketplace_image {
    margin-top: 64px;
    margin-bottom: 30px
}

.waqs-hero-content .marketplace_image img {
    max-width: 173px
}

.waqs-feature {
    margin-top: 80px
}

.waqs-feature .section-name {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    opacity: .8
}

.waqs-feature .waqs_heading h1 {
    text-align: center;
    color: #000;
    max-width: 744px;
    width: 100%;
    margin: auto auto 70px;
    text-transform: unset
}

.feature-card {
    border-radius: 24px;
    padding: 40px
}

.feature-card-gray {
    background-color: #f5f4f4;
    color: #000
}

.feature-card-black {
    background-color: #000;
    color: #fff
}

.card_gap {
    min-height: 96px
}

.mx-auto {
    margin: auto
}

.me-auto {
    margin-right: auto
}

.ms-auto {
    margin-left: auto
}

.card-water-mark {
    margin-bottom: 20px
}

.card-water-mark label {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    margin-top: 12px
}

.newsletter .left-side img{
    width: 100%;
}
.newsletter h1,
.theme-section h1 {
    font-family: Arial;
    font-size: 48px;
    font-style: normal;
    font-weight: 700
}

.map-mobile,
.mobile_marketplace {
    display: none
}

.space-around {
    justify-content: space-around
}

.space-between {
    justify-content: space-between
}

.flex-column {
    flex-direction: column
}

.gap-12 {
    gap: 12px
}

.mt-24 {
    margin-top: 24px
}

.mb-24 {
    margin-bottom: 24px
}

.animated-map svg,
.w-100 {
    width: 100%
}

img {
    max-width: 100%
}

.align-items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.half-card {
    max-width: 600px;
    width: 100%
}

.powered-by img {
    padding: 60px;
    max-width: 708px;
    width: 100%
}

.newsletter {
    background-color: #e5e7e8
}

.newsletter h1 {
    line-height: 62px;
    text-transform: capitalize
}

.newsletter_content {
    color: #000;
    max-width: 700px;
    width: 100%;
    padding: 0 10px
}

.newsletter_content p {
    max-width: 544px;
    width: 100%
}

.theme-section {
    margin-top: 100px;
    transition: .5s;
    padding-top: 50px
}

.theme-section h1 {
    line-height: 120%;
    text-transform: unset;
    text-align: center;
    transition: .5s;
    color: #000;
    max-width: 866px;
    width: 100%
}

.mode_switcher {
    width: 52px;
    height: 32px;
    background-color: #000;
    border-radius: 20px;
    padding: 2px 5px;
    position: relative;
    cursor: pointer;
    transition: 1s
}

.day_switches .switch,
.night_switches .switch,
.switch_ball {
    height: 25px;
    width: 25px;
    border-radius: 50%
}

.day_switches .switch {
    box-shadow: #fff 0 0 0 4px, #fff 0 0 0 6px, #fff 0 0 0 4px;
    transition: .3s linear;
    cursor: pointer
}

.day_switches .switch.active {
    box-shadow: #fff 0 0 0 4px, #4384f5 0 0 0 6px, #fff 0 0 0 4px;
    position: relative;
    transition: .3s linear
}

.night_switches .switch {
    box-shadow: #2e3133 0 0 0 4px, #2e3133 0 0 0 6px, #2e3133 0 0 0 4px;
    transition: .3s linear;
    cursor: pointer
}

.night_switches .switch.active {
    box-shadow: #000 0 0 0 4px, #4384f5 0 0 0 6px, #000 0 0 0 4px;
    position: relative;
    transition: .3s linear
}

.switch.active:after {
    content: '';
    position: absolute;
    right: -10px;
    top: -8px;
    background: url('./../img/tik.webp') center/cover no-repeat;
    height: 18px;
    width: 18px
}

#switch-1 {
    background-color: #006a6a
}

#switch-2 {
    background-color: #006b5b
}

#switch-3 {
    background-color: #4f6603
}

#switch-4 {
    background-color: #954a03
}

#switch-5 {
    background-color: #0062a0
}

#switch-6 {
    background-color: #6b4ea2
}

#switch-7 {
    background-color: #b80464
}

#switch-8 {
    background-color: #973f6f
}

#switch-9 {
    background-color: #4cdada
}

#switch-10 {
    background-color: #59dbc1
}

#switch-11 {
    background-color: #b4d269
}

#switch-12 {
    background-color: #ffb786
}

#switch-13 {
    background-color: #9bcaff
}

#switch-14 {
    background-color: #d3bbff
}

#switch-15 {
    background-color: #ffb0c8
}

#switch-16 {
    background-color: #ffafd4
}

.switch_ball {
    background: #fff;
    position: absolute;
    transition: 1s;
    right: 4px;
    top: 3px
}

p.mode_text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #000
}

.day_switches,
.night_switches {
    gap: 15px;
    max-width: 440px;
    margin: auto;
    padding: 15px
}

.switch-group {
    gap: 15px
}

.night_switches {
    display: none;
    background: rgba(46, 49, 51, .8);
    border-radius: 23px
}

.theme-display {
    transition: .5s
}

.mobile_marketplace img {
    width: 70%
}

.map-card {
    position: relative
}

.map-card .feature-card-content {
    padding: 20px
}

.animate {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    pointer-events: none;
    animation: 2s linear infinite forwards animateDash
}

@keyframes animateDash {
    to {
        stroke-dashoffset: 0
    }
}

.map-mobile {
    border-radius: 24px
}

@media screen and (max-width:1250px) {
    h1 {
        font-size: 30px !important
    }
    .waqs-hero-content p {
        font-size: 17px
    }
    .feature-card-content p {
        font-size: 34px
    }
    .waqs-hero-content .waqs-hero-content-left {
        max-width: 480px
    }
    .newsletter h1 {
        line-height: 42px
    }
    .switch-sites-ctn {
        display: none !important
    }
}

@media screen and (max-width:1020px) {
    .map-card .feature-card-content {
        max-width: 550px !important
    }
}

@media screen and (max-width:923px) {
    .feature-card-content p {
        font-size: 26px;
        line-height: 40px
    }
    .card_icon_image {
        width: 120px
    }
    .waqs-feature .waqs_heading h1 {
        margin-bottom: 40px
    }
    .newsletter h1 {
        line-height: 40px;
        font-size: 36px
    }
    .newsletter>div {
        flex-direction: column-reverse
    }
    .newsletter {
        text-align: center
    }
    .newsletter_content {
        padding: 20px;
        margin: auto
    }
    .newsletter .marketplace_image>div:first-child {
        margin-left: auto
    }
    .newsletter .marketplace_image>div:nth-child(2) {
        margin-right: auto
    }
    .map-card .feature-card-content {
        max-width: 450px !important
    }
    .newsletter_content p {
        margin: auto
    }
}

@media screen and (max-width:764px) {
    .switch.active::after {
        content: '';
        position: absolute;
        right: -8px;
        top: -9px;
        background: url('./../img/tik.svg') center/cover no-repeat;
        height: 13px;
        width: 13px
    }
    .waqs-hero-content-left {
        margin-top: 55px
    }
    h1 {
        line-height: 33px !important;
        font-size: 22px !important
    }
    .desktop_marketplace {
        display: none
    }
    .mobile_marketplace {
        display: block
    }
    .mobile_marketplace div:nth-child(2) {
        margin-top: 15px
    }
    .card-water-mark img {
        width: 15%;
        margin-bottom: 15px
    }
    .card-water-mark label {
        font-size: 16px;
        margin-top: 0
    }
    .newsletter .mobile_marketplace {
        margin-bottom: 24px
    }
    .newsletter_content .marketplace_image img {
        width: 90%
    }
    .waqs-hero {
        background-position: calc(80%)
    }
    .waqs-hero-content {
        flex-direction: column;
        text-align: center
    }
    .hero_image img {
        margin-top: 40px
    }
    .feature-card-content p {
        font-size: 22px;
        line-height: 35px
    }
    .card_icon_image {
        width: 120px
    }
    .has-bottom-gap {
        margin-bottom: 70px
    }
    .day_switches,
    .night_switches {
        margin: auto;
        width: fit-content
    }
    .switch {
        margin-bottom: 0;
        height: 20px !important;
        width: 20px !important
    }
    .theme-display {
        overflow-x: hidden
    }
    .theme-display img {
        max-width: 170% !important
    }
    .card-water-mark {
        margin-bottom: 5px
    }
    .map-card .feature-card-content {
        max-width: 350px !important
    }
    .waqs-feature .section-name {
        margin-bottom: 20px !important
    }
    .powered-by img {
        padding: 0
    }
}

@media screen and (max-width:620px) {
    .card-group,
    .iphone-card {
        flex-direction: column
    }
    .iphone-card .feature-card-content {
        margin-bottom: 30px
    }
    .map-desktop,
    .map-desktop svg {
        height: 0
    }
    .map-desktop .feature-card-content {
        display: none
    }
    .map-mobile {
        display: block;
        background-image: url('../img/map_bg.webp');
        background-position: center;
        background-size: cover
    }
    .map-mobile .feature-card-gray {
        background-color: transparent
    }
    .map-mobile svg {
        width: 100%;
        max-height: 500px
    }
    .theme-section {
        margin-top: 30px
    }
}